<h1>Pitches</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @pitches.each do |pitch| %>
      <tr>
        <td><%= link_to pitch.name, pitch_path(pitch) %></td>
        <td><%= pitch.description.first(140) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% link_to "Login", "#", :class => "btn btn-success .btn-large" %>
<% link_to "Login", "#", :class => "btn btn-primary .btn-large" %>
<% link_to "Login", "#", :class => "btn btn-success .btn-large" %>
