// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
  padding-top: 0 !important

.login-button
  margin-bottom: 20px

table.table
  tr
    th
      padding-left: 0
    td
      padding-left: 0
